; rewrite commit author
;   git filter-branch --env-filter 'if [ "$GIT_AUTHOR_NAME" = "AAA" ]; then export GIT_AUTHOR_NAME="BBB"; export GIT_AUTHOR_EMAIL="CCC@gDDD.com"; fi;'

; fight tls when clonnig/pullig over https: 
;   export GIT_SSL_NO_VERIFY=true 
;     git config  http.sslVerify false
;   export SSH_ASKPASS=

[core]
    repositoryformatversion = 0
    filemode = false
    bare = false
    logallrefupdates = true
    symlinks = false
    ignorecase = true
    hideDotFiles = dotGitOnly
    autocrlf = false

[user]
    name = Alexander Kleymenov
    email = alexander.kleymenov@gmail.com

[http]
;    proxy = http://proxy.com:8080

[remote "origin"]
    fetch = +refs/heads/*:refs/remotes/origin/*
    url = http://github.com/sankl/vim

[branch "master"]
    remote = origin
    merge = refs/heads/master

[diff]
    tool = vimdiff

[difftool]
    prompt = true

[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    ba = branch -a
    st = status
    ci = commit
    co = checkout
    staged = diff --cached
    sl = svn log --show-commit
    d = diff --no-prefix

[color]
	ui = auto
[http]
	sslVerify = false
